.git
.cursor
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
output/
visual_results/
visual_results_ner/
visual_result_layoutlm/
bbox_ablation/
bbox_ablation_page/
bbox_ablation_tessaract/
ocr_notebook/
images/
page_image/
pipeline_models/
